.header {
    position:fixed;
    width:100%;
    top:10px;

    &__contain {
        display:flex;
        justify-content: space-between;
    }
}
.userdata {
    display:flex;
    align-items: center;
    gap:20px;
}
.menuicon {
    cursor: pointer;
    color:black;
    &:hover {
        color:#0089D6;
    }
}