@import-normalize; /* bring in normalize.css styles */

body, h1, h2, h3, p {
  font-family: 'roboto';
  font-weight: 200;
  margin: 0;
  padding:0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
